<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!--  Diagnostics.
  
        This section enables logging of SOAP messages and traces of the inner workings of WCF (for example exceptions thrown).
        To enable the logging, just remove the commentation "< ! - -" from the code below.
        
        SOAP messages end up in the file App_messages.svclog and exceptions in App_tracelog.svclog,
        both in the same folder as the program running
  -->
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose,ActivityTracing"
        propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>

      <source name="dk.gov.oiosi.library" switchValue="Verbose,ActivityTracing"
        propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    
    <sharedListeners>
      <add initializeData="App_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
      <add initializeData="App_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  -->

  <system.serviceModel>

    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
        logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="true" />
    </diagnostics>

    <client>
      <!-- HTTP endpoints-->
      <endpoint   name ="OiosiOmniEndpointA" 
                  address="http://oiositest.dk/InteropTest2/OiosiOmniEndpointA.svc"
                  binding="customBinding" bindingConfiguration="OiosiHttpBinding"
                  contract="dk.gov.oiosi.communication.client.IClientProxyContract"
                  behaviorConfiguration="oiosiEndpointCertificateBehavior">
        <identity>
          <dns value="IT- og Telestyrelsen - OIOSI test virksomhedssignatur" />
        </identity>
      </endpoint>


      <endpoint   name ="OiosiOmniEndpoint10SecDelay" 
                  address="http://oiositest.dk/InteropTest2/OiosiOmniEndpoint10SecDelay.svc"
                  binding="customBinding" bindingConfiguration="OiosiHttpBindingWithCounter"
                  contract="dk.gov.oiosi.communication.client.IClientProxyContract"
                  behaviorConfiguration="oiosiEndpointCertificateBehavior">

        <identity>
          <dns value="IT- og Telestyrelsen - OIOSI test virksomhedssignatur" />
        </identity>
      </endpoint>

      <endpoint   name ="OiosiOmniEndpoint60SecDelay" 
                  address="http://oiositest.dk/InteropTest2/OiosiOmniEndpoint60SecDelay.svc"
                  binding="customBinding" bindingConfiguration="OiosiHttpBinding"
                  contract="dk.gov.oiosi.communication.client.IClientProxyContract"
                  behaviorConfiguration="oiosiEndpointCertificateBehavior">
        <identity>
          <dns value="IT- og Telestyrelsen - OIOSI test virksomhedssignatur" />
        </identity>
      </endpoint>


      <endpoint   name ="OiosiOmniEndpointNoRm" 
                  address="http://oiositest.dk/InteropTest2/OiosiOmniEndpointNoRm.svc"
                  binding="customBinding" bindingConfiguration="OiosiHttpBinding"
                  contract="dk.gov.oiosi.communication.client.IClientProxyContract"
                  behaviorConfiguration="oiosiEndpointCertificateBehavior">
        <identity>
          <dns value="IT- og Telestyrelsen - OIOSI test virksomhedssignatur" />
        </identity>
      </endpoint>

      <endpoint   name ="OiosiOmniEndpointNoSecurity" 
                  address="http://oiositest.dk/InteropTest2/OiosiOmniEndpointNoSecurity.svc"
                  binding="customBinding" bindingConfiguration="OiosiHttpBinding"
                  contract="dk.gov.oiosi.communication.client.IClientProxyContract"
                  behaviorConfiguration="oiosiEndpointCertificateBehavior">
        <identity>
          <dns value="IT- og Telestyrelsen - OIOSI test virksomhedssignatur" />
        </identity>
      </endpoint>

      <endpoint   name ="OiosiOmniEndpointPlain" 
                  address="http://oiositest.dk/InteropTest2/OiosiOmniEndpointPlain.svc"
                  binding="customBinding" bindingConfiguration="OiosiHttpBinding"
                  contract="dk.gov.oiosi.communication.client.IClientProxyContract"
                  behaviorConfiguration="oiosiEndpointCertificateBehavior">
        <identity>
          <dns value="IT- og Telestyrelsen - OIOSI test virksomhedssignatur" />
        </identity>
      </endpoint>

      <endpoint   name ="OiosiOmniEndpointCustomHeader" 
                  address="http://oiositest.dk/InteropTest2/OiosiOmniEndpointA.svc"
                  binding="customBinding" bindingConfiguration="OiosiHttpBinding"
                  contract="dk.gov.oiosi.communication.client.IClientProxyContract"
                  behaviorConfiguration="oiosiEndpointCertificateBehavior">
        <identity>
          <dns value="IT- og Telestyrelsen - OIOSI test virksomhedssignatur" />
        </identity>
      </endpoint>

      <!-- Incomplete stack tests http://oiositest.dk/InteropTest2/OiosiOmniEndpointNoSecurity.svc-->
      <endpoint   name ="FullToWSRM" 
                  address="http://oiositest.dk/InteropTest2/OiosiOmniEndpointNoSecurity.svc" binding="customBinding" 
                  bindingConfiguration="OiosiHttpBinding" contract="dk.gov.oiosi.communication.client.IClientProxyContract" 
                  behaviorConfiguration="oiosiEndpointCertificateBehavior">
        <identity>
          <dns value="IT- og Telestyrelsen - OIOSI test virksomhedssignatur" />
        </identity>
      </endpoint>

      <endpoint   name ="FullToWSS" 
                  address="http://oiositest.dk/InteropTest2/OiosiOmniEndpointNoRm.svc" binding="customBinding" 
                  bindingConfiguration="OiosiHttpBinding" contract="dk.gov.oiosi.communication.client.IClientProxyContract" 
                  behaviorConfiguration="oiosiEndpointCertificateBehavior">
        <identity>
          <dns value="IT- og Telestyrelsen - OIOSI test virksomhedssignatur" />
        </identity>
      </endpoint>

      <endpoint   name ="FullToPlain" 
                  address="http://oiositest.dk/InteropTest2/OiosiOmniEndpointPlain.svc" binding="customBinding" 
                  bindingConfiguration="OiosiHttpBinding" contract="dk.gov.oiosi.communication.client.IClientProxyContract" 
                  behaviorConfiguration="oiosiEndpointCertificateBehavior">
        <identity>
          <dns value="IT- og Telestyrelsen - OIOSI test virksomhedssignatur" />
        </identity>
      </endpoint>


      <endpoint   name ="PlainToFull" 
                  address="http://oiositest.dk/InteropTest2/OiosiOmniEndpointA.svc" binding="customBinding" 
                  bindingConfiguration="OiosiHttpBindingPlain" contract="dk.gov.oiosi.communication.client.IClientProxyContract" 
                  behaviorConfiguration="oiosiEndpointCertificateBehavior">
        <identity>
          <dns value="IT- og Telestyrelsen - OIOSI test virksomhedssignatur" />
        </identity>
      </endpoint>

      <endpoint   name ="PlainToWSRM" 
                  address="http://oiositest.dk/InteropTest2/OiosiOmniEndpointNoSecurity.svc" binding="customBinding" 
                  bindingConfiguration="OiosiHttpBindingPlain" contract="dk.gov.oiosi.communication.client.IClientProxyContract" 
                  behaviorConfiguration="oiosiEndpointCertificateBehavior">
        <identity>
          <dns value="IT- og Telestyrelsen - OIOSI test virksomhedssignatur" />
        </identity>
      </endpoint>

      <endpoint   name ="PlainToWSS" 
                  address="http://oiositest.dk/InteropTest2/OiosiOmniEndpointNoRm.svc" binding="customBinding" 
                  bindingConfiguration="OiosiHttpBindingPlain" contract="dk.gov.oiosi.communication.client.IClientProxyContract" behaviorConfiguration="oiosiEndpointCertificateBehavior">
        <identity>
          <dns value="IT- og Telestyrelsen - OIOSI test virksomhedssignatur" />
        </identity>
      </endpoint>

      <endpoint   name ="PlainToPlain" 
                  address="http://oiositest.dk/InteropTest2/OiosiOmniEndpointPlain.svc" binding="customBinding" 
                  bindingConfiguration="OiosiHttpBindingPlain" contract="dk.gov.oiosi.communication.client.IClientProxyContract" behaviorConfiguration="oiosiEndpointCertificateBehavior">
        <identity>
          <dns value="IT- og Telestyrelsen - OIOSI test virksomhedssignatur" />
        </identity>
      </endpoint>



      <endpoint   name ="WSSToFull" 
                  address="http://oiositest.dk/InteropTest2/OiosiOmniEndpointA.svc" binding="customBinding" 
                  bindingConfiguration="OiosiHttpBindingNoRm" contract="dk.gov.oiosi.communication.client.IClientProxyContract" behaviorConfiguration="oiosiEndpointCertificateBehavior">
        <identity>
          <dns value="IT- og Telestyrelsen - OIOSI test virksomhedssignatur" />
        </identity>
      </endpoint>

      <endpoint   name ="WSSToWSRM" 
                  address="http://oiositest.dk/InteropTest2/OiosiOmniEndpointNoSecurity.svc" binding="customBinding" 
                  bindingConfiguration="OiosiHttpBindingNoRm" contract="dk.gov.oiosi.communication.client.IClientProxyContract" behaviorConfiguration="oiosiEndpointCertificateBehavior">
        <identity>
          <dns value="IT- og Telestyrelsen - OIOSI test virksomhedssignatur" />
        </identity>
      </endpoint>

      <endpoint   name ="WSSToWSS" 
                  address="http://oiositest.dk/InteropTest2/OiosiOmniEndpointNoRm.svc" binding="customBinding" 
                  bindingConfiguration="OiosiHttpBindingNoRm" contract="dk.gov.oiosi.communication.client.IClientProxyContract" behaviorConfiguration="oiosiEndpointCertificateBehavior">
        <identity>
          <dns value="IT- og Telestyrelsen - OIOSI test virksomhedssignatur" />
        </identity>
      </endpoint>

      <endpoint   name ="WSSToPlain" 
                  address="http://oiositest.dk/InteropTest2/OiosiOmniEndpointPlain.svc" binding="customBinding" 
                  bindingConfiguration="OiosiHttpBindingNoRm" contract="dk.gov.oiosi.communication.client.IClientProxyContract" behaviorConfiguration="oiosiEndpointCertificateBehavior">
        <identity>
          <dns value="IT- og Telestyrelsen - OIOSI test virksomhedssignatur" />
        </identity>
      </endpoint>



      <endpoint   name ="WSRMToFull" 
                 address="http://oiositest.dk/InteropTest2/OiosiOmniEndpointA.svc" binding="customBinding" 
                 bindingConfiguration="OiosiHttpBindingNoSecurity" contract="dk.gov.oiosi.communication.client.IClientProxyContract" behaviorConfiguration="oiosiEndpointCertificateBehavior">
        <identity>
          <dns value="IT- og Telestyrelsen - OIOSI test virksomhedssignatur" />
        </identity>
      </endpoint>

      <endpoint   name ="WSRMToWSRM" 
                  address="http://oiositest.dk/InteropTest2/OiosiOmniEndpointNoSecurity.svc" binding="customBinding" 
                  bindingConfiguration="OiosiHttpBindingNoSecurity" contract="dk.gov.oiosi.communication.client.IClientProxyContract" behaviorConfiguration="oiosiEndpointCertificateBehavior">
        <identity>
          <dns value="IT- og Telestyrelsen - OIOSI test virksomhedssignatur" />
        </identity>
      </endpoint>

      <endpoint   name ="WSRMToWSS" 
                  address="http://oiositest.dk/InteropTest2/OiosiOmniEndpointNoRm.svc" binding="customBinding" 
                  bindingConfiguration="OiosiHttpBindingNoSecurity" contract="dk.gov.oiosi.communication.client.IClientProxyContract" behaviorConfiguration="oiosiEndpointCertificateBehavior">
        <identity>
          <dns value="IT- og Telestyrelsen - OIOSI test virksomhedssignatur" />
        </identity>
      </endpoint>

      <endpoint   name ="WSRMToPlain" 
                  address="http://oiositest.dk/InteropTest2/OiosiOmniEndpointPlain.svc" binding="customBinding" 
                  bindingConfiguration="OiosiHttpBindingNoSecurity" contract="dk.gov.oiosi.communication.client.IClientProxyContract" behaviorConfiguration="oiosiEndpointCertificateBehavior">
        <identity>
          <dns value="IT- og Telestyrelsen - OIOSI test virksomhedssignatur" />
        </identity>
      </endpoint>


      <!-- Mail endpoints-->
      <endpoint   name ="OiosiEmailEndpoint" 
                  address=""
                  binding="customBinding"
                  bindingConfiguration="OiosiEmailBinding"
                  contract="dk.gov.oiosi.communication.client.IClientProxyContract"
                  behaviorConfiguration="oiosiEndpointCertificateBehavior"
                >
        <identity>
          <dns value="IT- og Telestyrelsen - OIOSI test virksomhedssignatur" />
        </identity>
      </endpoint>


      <endpoint   name ="OiosiEmailEndpointMissingHeader" 
                  address="" binding="customBinding"
                  bindingConfiguration="OiosiEmailBindingMissingHeader" contract="dk.gov.oiosi.communication.client.IClientProxyContract" behaviorConfiguration="oiosiEndpointCertificateBehavior">
        <identity>
          <dns value="IT- og Telestyrelsen - OIOSI test virksomhedssignatur" />
        </identity>
      </endpoint>

      <endpoint   name ="OiosiEmailEndpointWrongEncoding" 
                  address="" binding="customBinding"
                  bindingConfiguration="OiosiEmailBindingWrongEncoding" contract="dk.gov.oiosi.communication.client.IClientProxyContract" behaviorConfiguration="oiosiEndpointCertificateBehavior">
        <identity>
          <dns value="IT- og Telestyrelsen - OIOSI test virksomhedssignatur" />
        </identity>
      </endpoint>

      <endpoint   name ="OiosiEmailEndpoint60SecDelay" 
                  address=""
                  binding="customBinding" bindingConfiguration="OiosiEmailBinding" contract="dk.gov.oiosi.communication.client.IClientProxyContract" behaviorConfiguration="oiosiEndpointCertificateBehavior">
        <identity>
          <dns value="IT- og Telestyrelsen - OIOSI test virksomhedssignatur" />
        </identity>
      </endpoint>

      <endpoint   name ="OiosiEmailEndpoint120SecDelay" 
                  address=""
                  binding="customBinding" bindingConfiguration="OiosiEmailBinding1MinTimeout" contract="dk.gov.oiosi.communication.client.IClientProxyContract" behaviorConfiguration="oiosiEndpointCertificateBehavior">
        <identity>
          <dns value="IT- og Telestyrelsen - OIOSI test virksomhedssignatur" />
        </identity>
      </endpoint>


      <!-- Incomplete stack tests -->
      <endpoint   name ="MailFullToWSRM" 
                  address="" binding="customBinding" 
                  bindingConfiguration="OiosiEmailBinding" contract="dk.gov.oiosi.communication.client.IClientProxyContract" behaviorConfiguration="oiosiEndpointCertificateBehavior">
        <identity>
          <dns value="IT- og Telestyrelsen - OIOSI test virksomhedssignatur" />
        </identity>
      </endpoint>

      <endpoint   name ="MailFullToWSS" 
                  address="" binding="customBinding" 
                  bindingConfiguration="OiosiEmailBinding" contract="dk.gov.oiosi.communication.client.IClientProxyContract" behaviorConfiguration="oiosiEndpointCertificateBehavior">
        <identity>
          <dns value="IT- og Telestyrelsen - OIOSI test virksomhedssignatur" />
        </identity>
      </endpoint>

      <endpoint   name ="MailFullToPlain" 
                  address="" binding="customBinding" 
                  bindingConfiguration="OiosiEmailBinding" contract="dk.gov.oiosi.communication.client.IClientProxyContract" behaviorConfiguration="oiosiEndpointCertificateBehavior">
        <identity>
          <dns value="IT- og Telestyrelsen - OIOSI test virksomhedssignatur" />
        </identity>
      </endpoint>


      <endpoint   name ="MailPlainToFull" 
                  address="mailto:lenioserver13@lenio.dk?x-service-path=/raspaxis13/services/OiosiOmniEndpointA.svc" binding="customBinding" 
                  bindingConfiguration="OiosiEmailBindingPlain" contract="dk.gov.oiosi.communication.client.IClientProxyContract" behaviorConfiguration="oiosiEndpointCertificateBehavior">
        <identity>
          <dns value="IT- og Telestyrelsen - OIOSI test virksomhedssignatur" />
        </identity>
      </endpoint>

      <endpoint   name ="MailPlainToWSRM" 
                  address="" binding="customBinding" 
                  bindingConfiguration="OiosiEmailBindingPlain" contract="dk.gov.oiosi.communication.client.IClientProxyContract" behaviorConfiguration="oiosiEndpointCertificateBehavior">
        <identity>
          <dns value="IT- og Telestyrelsen - OIOSI test virksomhedssignatur" />
        </identity>
      </endpoint>

      <endpoint   name ="MailPlainToWSS" 
                  address="" binding="customBinding" 
                  bindingConfiguration="OiosiEmailBindingPlain" contract="dk.gov.oiosi.communication.client.IClientProxyContract" behaviorConfiguration="oiosiEndpointCertificateBehavior">
        <identity>
          <dns value="IT- og Telestyrelsen - OIOSI test virksomhedssignatur" />
        </identity>
      </endpoint>

      <endpoint   name ="MailPlainToPlain" 
                  address="" binding="customBinding" 
                  bindingConfiguration="OiosiEmailBindingPlain" contract="dk.gov.oiosi.communication.client.IClientProxyContract" behaviorConfiguration="oiosiEndpointCertificateBehavior">
        <identity>
          <dns value="IT- og Telestyrelsen - OIOSI test virksomhedssignatur" />
        </identity>
      </endpoint>


      <endpoint   name ="MailWSSToFull" 
            address="" binding="customBinding" 
            bindingConfiguration="OiosiEmailBindingNoRm" contract="dk.gov.oiosi.communication.client.IClientProxyContract" behaviorConfiguration="oiosiEndpointCertificateBehavior">
        <identity>
          <dns value="IT- og Telestyrelsen - OIOSI test virksomhedssignatur" />
        </identity>
      </endpoint>

      <endpoint   name ="MailWSSToWSRM" 
                  address="" binding="customBinding" 
                  bindingConfiguration="OiosiEmailBindingNoRm" contract="dk.gov.oiosi.communication.client.IClientProxyContract" behaviorConfiguration="oiosiEndpointCertificateBehavior">
        <identity>
          <dns value="IT- og Telestyrelsen - OIOSI test virksomhedssignatur" />
        </identity>
      </endpoint>

      <endpoint   name ="MailWSSToWSS" 
                  address="" binding="customBinding" 
                  bindingConfiguration="OiosiEmailBindingNoRm" contract="dk.gov.oiosi.communication.client.IClientProxyContract" behaviorConfiguration="oiosiEndpointCertificateBehavior">
        <identity>
          <dns value="IT- og Telestyrelsen - OIOSI test virksomhedssignatur" />
        </identity>
      </endpoint>

      <endpoint   name ="MailWSSToPlain" 
                  address="" binding="customBinding" 
                  bindingConfiguration="OiosiEmailBindingNoRm" contract="dk.gov.oiosi.communication.client.IClientProxyContract" behaviorConfiguration="oiosiEndpointCertificateBehavior">
        <identity>
          <dns value="IT- og Telestyrelsen - OIOSI test virksomhedssignatur" />
        </identity>
      </endpoint>



      <endpoint   name ="MailWSRMToFull" 
                 address="" binding="customBinding" 
                 bindingConfiguration="OiosiEmailBindingNoSecurity" contract="dk.gov.oiosi.communication.client.IClientProxyContract" behaviorConfiguration="oiosiEndpointCertificateBehavior">
        <identity>
          <dns value="IT- og Telestyrelsen - OIOSI test virksomhedssignatur" />
        </identity>
      </endpoint>

      <endpoint   name ="MailWSRMToWSRM" 
                  address="" binding="customBinding" 
                  bindingConfiguration="OiosiEmailBindingNoSecurity" contract="dk.gov.oiosi.communication.client.IClientProxyContract" behaviorConfiguration="oiosiEndpointCertificateBehavior">
        <identity>
          <dns value="IT- og Telestyrelsen - OIOSI test virksomhedssignatur" />
        </identity>
      </endpoint>

      <endpoint   name ="MailWSRMToWSS" 
                  address="" binding="customBinding" 
                  bindingConfiguration="OiosiEmailBindingNoSecurity" contract="dk.gov.oiosi.communication.client.IClientProxyContract" behaviorConfiguration="oiosiEndpointCertificateBehavior">
        <identity>
          <dns value="IT- og Telestyrelsen - OIOSI test virksomhedssignatur" />
        </identity>
      </endpoint>

      <endpoint   name ="MailWSRMToPlain" 
                  address="" binding="customBinding" 
                  bindingConfiguration="OiosiEmailBindingNoSecurity" contract="dk.gov.oiosi.communication.client.IClientProxyContract" behaviorConfiguration="oiosiEndpointCertificateBehavior">
        <identity>
          <dns value="IT- og Telestyrelsen - OIOSI test virksomhedssignatur" />
        </identity>
      </endpoint>
    </client>


    <!-- Our behaviors describe what certificates to use... -->
    <behaviors>

      <!-- ... for sending -->
      <endpointBehaviors>
        <behavior name="oiosiEndpointCertificateBehavior">
          <signCustomHeaders>
            <headers>
              <add name="SenderPartyIdentifier" namespace="http://rep.oio.dk/oiosi.ehandel.gov.dk/xml/schemas/2007/09/01/" />
              <add name="ReceiverPartyIdentifier" namespace="http://rep.oio.dk/oiosi.ehandel.gov.dk/xml/schemas/2007/09/01/" />
              <add name="MessageIdentifier" namespace="http://rep.oio.dk/oiosi.ehandel.gov.dk/xml/schemas/2007/09/01/"/>
            </headers>
          </signCustomHeaders>

          <clientCredentials>
            <clientCertificate storeLocation="CurrentUser"
                               storeName="My"
                               x509FindType="FindBySerialNumber"
                               findValue="40 36 b3 79"/>
            <serviceCertificate>
              <authentication revocationMode="NoCheck"/>
              <defaultCertificate  storeLocation="CurrentUser"
                                   storeName="My"
                                   x509FindType="FindBySerialNumber"
                                   findValue="40 36 b3 79" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <bindings>
      <customBinding>
        <!-- The Basic OIOSI RASP HTTP binding -->
        <binding  name="OiosiHttpBinding" closeTimeout="00:00:30" openTimeout="00:00:30" receiveTimeout="00:00:30" sendTimeout="00:00:30">
          <reliableSession flowControlEnabled="false" ordered="true"/>
          <!--<ubiquitousProperties/>-->
          <security messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" defaultAlgorithmSuite="Default" authenticationMode="MutualCertificate" requireDerivedKeys="false" securityHeaderLayout="Strict" includeTimestamp="true" keyEntropyMode="CombinedEntropy" messageProtectionOrder="SignBeforeEncrypt" requireSignatureConfirmation="false"/>
          <!--<clientPartyIdentifierHeader/>-->
          <textMessageEncoding messageVersion="Default" writeEncoding="utf-8">
            <readerQuotas maxArrayLength="200000000" />
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxReceivedMessageSize="2147000000" maxBufferSize="2147000000"/>
        </binding>


        <!-- The Special OIOSI RASP HTTP bindings -->
        <binding  name="OiosiHttpBindingPlain" closeTimeout="00:00:45" openTimeout="00:00:45" receiveTimeout="00:00:45" sendTimeout="00:00:45">
          <ubiquitousProperties/>
          <clientPartyIdentifierHeader/>
          <textMessageEncoding messageVersion="Default" writeEncoding="utf-8">
            <readerQuotas maxArrayLength="200000000" />
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxReceivedMessageSize="2147000000" maxBufferSize="2147000000"/>
        </binding>
        
        <binding  name="OiosiHttpBindingNoSecurity" closeTimeout="00:00:45" openTimeout="00:00:45" receiveTimeout="00:00:45" sendTimeout="00:00:45">
          <reliableSession flowControlEnabled="false" ordered="true"/>
          <ubiquitousProperties/>
          <clientPartyIdentifierHeader/>
          <textMessageEncoding messageVersion="Default" writeEncoding="utf-8">
            <readerQuotas maxArrayLength="200000000" />
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxReceivedMessageSize="2147000000" maxBufferSize="2147000000"/>
        </binding>
        
        <binding  name="OiosiHttpBindingNoRm" closeTimeout="00:00:45" openTimeout="00:00:45" receiveTimeout="00:00:45" sendTimeout="00:00:45">
          <ubiquitousProperties/>
          <security messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" defaultAlgorithmSuite="Default" authenticationMode="MutualCertificate" requireDerivedKeys="false" securityHeaderLayout="Strict" includeTimestamp="true" keyEntropyMode="CombinedEntropy" messageProtectionOrder="SignBeforeEncrypt" requireSignatureConfirmation="false"/>
          <clientPartyIdentifierHeader/>
          <textMessageEncoding messageVersion="Default" writeEncoding="utf-8">
            <readerQuotas maxArrayLength="200000000" />
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxReceivedMessageSize="2147000000" maxBufferSize="2147000000"/>
        </binding>

        <!-- Using a counter -->
        <binding  name="OiosiHttpBindingWithCounter" closeTimeout="00:00:45" openTimeout="00:00:45" receiveTimeout="00:00:45" sendTimeout="00:00:45">
          <reliableSession flowControlEnabled="false" ordered="true"/>
          <ubiquitousProperties/>
          <MessageCounter/>
          <security messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" defaultAlgorithmSuite="Default" authenticationMode="MutualCertificate" requireDerivedKeys="false" securityHeaderLayout="Strict" includeTimestamp="true" keyEntropyMode="CombinedEntropy" messageProtectionOrder="SignBeforeEncrypt" requireSignatureConfirmation="false"/>
          <clientPartyIdentifierHeader/>
          <textMessageEncoding messageVersion="Default" writeEncoding="utf-8">
            <readerQuotas maxArrayLength="200000000" />
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxReceivedMessageSize="2147000000" maxBufferSize="2147000000"/>
        </binding>


        <!-- Basic RASP mail binding -->
        <binding name="OiosiEmailBinding" closeTimeout="00:04:00" openTimeout="00:04:00" receiveTimeout="00:04:00" sendTimeout="00:04:00">
          <reliableSession flowControlEnabled="false" ordered="true" inactivityTimeout="00:04:00" acknowledgementInterval="00:04:00"/>
          <ubiquitousProperties/>
          <ConsoleWriteLine/>
          <MessageCounter/>
          <ConsoleWritelineMessage/>
          <security messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" defaultAlgorithmSuite="Default" authenticationMode="MutualCertificate" requireDerivedKeys="false" securityHeaderLayout="Strict" includeTimestamp="true" keyEntropyMode="CombinedEntropy" messageProtectionOrder="SignBeforeEncrypt" requireSignatureConfirmation="false"/>
          <clientPartyIdentifierHeader/>
          <textMessageEncoding messageVersion="Default" writeEncoding="utf-8">
            <readerQuotas maxArrayLength="200000000" />
          </textMessageEncoding>
          <emailTransport outboxImplementation="dk.gov.oiosi.lesnikowskiMailProvider.SmtpOutboxLesnikowski, dk.gov.oiosi.lesnikowskiMailProvider"
                               inboxImplementation="dk.gov.oiosi.lesnikowskiMailProvider.Pop3InboxLesnikowski, dk.gov.oiosi.lesnikowskiMailProvider"
                               sendingServerAddress="mail.stellarhosting.dk"
                               receivingServerAddress="mail.stellarhosting.dk"
                               receivingUserName="raspTestEndpoint"
                               receivingPassword="aD2qfwec"
                               replyAddress="mailto:raspTestEndpoint@stellarhosting.dk"/>
        </binding>


        <binding name="OiosiEmailBinding1MinTimeout" closeTimeout="00:01:30" openTimeout="00:01:30" receiveTimeout="00:01:30" sendTimeout="00:01:30">
          <reliableSession flowControlEnabled="false" ordered="true" inactivityTimeout="00:01:00" acknowledgementInterval="00:01:30" maxRetryCount="3"/>
          <ubiquitousProperties/>
          <!--<ConsoleWriteLine/>-->
          <!--<MessageCounter/>-->
          <!--<ConsoleWritelineMessage/>-->
          <security messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" defaultAlgorithmSuite="Default" authenticationMode="MutualCertificate" requireDerivedKeys="false" securityHeaderLayout="Strict" includeTimestamp="true" keyEntropyMode="CombinedEntropy" messageProtectionOrder="SignBeforeEncrypt" requireSignatureConfirmation="false"/>
          <clientPartyIdentifierHeader/>
          <textMessageEncoding messageVersion="Default" writeEncoding="utf-8">
            <readerQuotas maxArrayLength="200000000" />
          </textMessageEncoding>
          <emailTransport outboxImplementation="dk.gov.oiosi.lesnikowskiMailProvider.SmtpOutboxLesnikowski, dk.gov.oiosi.lesnikowskiMailProvider"
                               inboxImplementation="dk.gov.oiosi.lesnikowskiMailProvider.Pop3InboxLesnikowski, dk.gov.oiosi.lesnikowskiMailProvider"
                               sendingServerAddress="mail.stellarhosting.dk"
                               receivingServerAddress="mail.stellarhosting.dk"
                               receivingUserName="raspTestEndpoint"
                               receivingPassword="aD2qfwec"
                               replyAddress="mailto:raspTestEndpoint@stellarhosting.dk"/>
        </binding>


        <binding name="OiosiEmailBindingMissingHeader" closeTimeout="00:03:30" openTimeout="00:03:30" receiveTimeout="00:03:30" sendTimeout="00:03:30">
          <reliableSession flowControlEnabled="false" ordered="true" inactivityTimeout="00:03:30" acknowledgementInterval="00:03:30" maxRetryCount="20"/>
          <ubiquitousProperties/>
          <ConsoleWriteLine/>
          <MessageCounter/>
          <ConsoleWritelineMessage/>
          <security messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" defaultAlgorithmSuite="Default" authenticationMode="MutualCertificate" requireDerivedKeys="false" securityHeaderLayout="Strict" includeTimestamp="true" keyEntropyMode="CombinedEntropy" messageProtectionOrder="SignBeforeEncrypt" requireSignatureConfirmation="false"/>
          <clientPartyIdentifierHeader/>
          <textMessageEncoding messageVersion="Default" writeEncoding="utf-8">
            <readerQuotas maxArrayLength="200000000" />
          </textMessageEncoding>
          <emailTransport outboxImplementation="dk.gov.oiosi.lesnikowskiMailProvider.SmtpOutboxLesnikowski, dk.gov.oiosi.lesnikowskiMailProvider"
                               inboxImplementation="dk.gov.oiosi.lesnikowskiMailProvider.Pop3InboxLesnikowski, dk.gov.oiosi.lesnikowskiMailProvider"
                               sendingServerAddress="mail.stellarhosting.dk"
                               receivingServerAddress="mail.stellarhosting.dk"
                               receivingUserName="raspTestEndpoint"
                               receivingPassword="aD2qfwec"
                               replyAddress="mailto:raspTestEndpoint@stellarhosting.dk"/>
        </binding>


        <binding name="OiosiEmailBindingWrongEncoding" closeTimeout="00:03:30" openTimeout="00:03:30" receiveTimeout="00:03:30" sendTimeout="00:03:30">
          <reliableSession flowControlEnabled="false" ordered="true" inactivityTimeout="00:03:30" acknowledgementInterval="00:03:30" maxRetryCount="20"/>
          <ubiquitousProperties/>
          <ConsoleWriteLine/>
          <MessageCounter/>
          <ConsoleWritelineMessage/>
          <security messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" defaultAlgorithmSuite="Default" authenticationMode="MutualCertificate" requireDerivedKeys="false" securityHeaderLayout="Strict" includeTimestamp="true" keyEntropyMode="CombinedEntropy" messageProtectionOrder="SignBeforeEncrypt" requireSignatureConfirmation="false"/>
          <clientPartyIdentifierHeader/>
          <textMessageEncoding messageVersion="Default" writeEncoding="utf-8">
            <readerQuotas maxArrayLength="200000000" />
          </textMessageEncoding>
          <emailTransport outboxImplementation="dk.gov.oiosi.lesnikowskiMailProvider.SmtpOutboxLesnikowski, dk.gov.oiosi.lesnikowskiMailProvider"
                               inboxImplementation="dk.gov.oiosi.lesnikowskiMailProvider.Pop3InboxLesnikowski, dk.gov.oiosi.lesnikowskiMailProvider"
                               sendingServerAddress="mail.stellarhosting.dk"
                               receivingServerAddress="mail.stellarhosting.dk"
                               receivingUserName="raspTestEndpoint"
                               receivingPassword="aD2qfwec"
                               replyAddress="mailto:raspTestEndpoint@stellarhosting.dk"/>
        </binding>


        <!-- Special bindings -->
        <binding  name="OiosiEmailBindingNoRm" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00">
          <ubiquitousProperties/>
          <ConsoleWriteLine/>
          <ConsoleWritelineMessage/>
          <security messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" defaultAlgorithmSuite="Default" authenticationMode="MutualCertificate" requireDerivedKeys="false" securityHeaderLayout="Strict" includeTimestamp="true" keyEntropyMode="CombinedEntropy" messageProtectionOrder="SignBeforeEncrypt" requireSignatureConfirmation="false"/>
          <clientPartyIdentifierHeader/>
          <textMessageEncoding messageVersion="Default" writeEncoding="utf-8">
            <readerQuotas maxArrayLength="200000000" />
          </textMessageEncoding>
          <emailTransport outboxImplementation="dk.gov.oiosi.lesnikowskiMailProvider.SmtpOutboxLesnikowski, dk.gov.oiosi.lesnikowskiMailProvider"
                               inboxImplementation="dk.gov.oiosi.lesnikowskiMailProvider.Pop3InboxLesnikowski, dk.gov.oiosi.lesnikowskiMailProvider"
                               sendingServerAddress="mail.stellarhosting.dk"
                               receivingServerAddress="mail.stellarhosting.dk"
                               receivingUserName="raspTestEndpoint"
                               receivingPassword="aD2qfwec"
                               replyAddress="mailto:raspTestEndpoint@stellarhosting.dk"/>
        </binding>

        <binding  name="OiosiEmailBindingNoSecurity" closeTimeout="00:04:30" openTimeout="00:04:30" receiveTimeout="00:04:30"  sendTimeout="00:04:30">
          <reliableSession flowControlEnabled="false" ordered="true"/>
          <ubiquitousProperties/>
          <ConsoleWriteLine/>
          <ConsoleWritelineMessage/>
          <MessageCounter/>
          <clientPartyIdentifierHeader/>
          <textMessageEncoding messageVersion="Default" writeEncoding="utf-8">
            <readerQuotas maxArrayLength="200000000" />
          </textMessageEncoding>
          <emailTransport outboxImplementation="dk.gov.oiosi.lesnikowskiMailProvider.SmtpOutboxLesnikowski, dk.gov.oiosi.lesnikowskiMailProvider"
                               inboxImplementation="dk.gov.oiosi.lesnikowskiMailProvider.Pop3InboxLesnikowski, dk.gov.oiosi.lesnikowskiMailProvider"
                               sendingServerAddress="mail.stellarhosting.dk"
                               receivingServerAddress="mail.stellarhosting.dk"
                               receivingUserName="raspTestEndpoint"
                               receivingPassword="aD2qfwec"
                               replyAddress="mailto:raspTestEndpoint@stellarhosting.dk"/>
        </binding>

        <binding  name="OiosiEmailBindingPlain" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00">
          <ubiquitousProperties/>
          <ConsoleWriteLine/>
          <ConsoleWritelineMessage/>
          <clientPartyIdentifierHeader/>
          <textMessageEncoding messageVersion="Default" writeEncoding="utf-8">
            <readerQuotas maxArrayLength="200000000" />
          </textMessageEncoding>
          <emailTransport outboxImplementation="dk.gov.oiosi.lesnikowskiMailProvider.SmtpOutboxLesnikowski, dk.gov.oiosi.lesnikowskiMailProvider"
                               inboxImplementation="dk.gov.oiosi.lesnikowskiMailProvider.Pop3InboxLesnikowski, dk.gov.oiosi.lesnikowskiMailProvider"
                               sendingServerAddress="mail.stellarhosting.dk"
                               receivingServerAddress="mail.stellarhosting.dk"
                               receivingUserName="raspTestEndpoint"
                               receivingPassword="aD2qfwec"
                               replyAddress="mailto:raspTestEndpoint@stellarhosting.dk"/>
        </binding>

      </customBinding>
    </bindings>


    <!-- A binding extension, letting WCF know where our custom WCF components are implemented -->
    <extensions>
      <bindingElementExtensions>
        <add name="emailTransport" type="dk.gov.oiosi.extension.wcf.EmailTransport.EmailBindingExtensionElement, dk.gov.oiosi.library" />
        <!-- Signature validation proof generation -->
        <add name="serverSignatureValidationProofInterceptor" type="dk.gov.oiosi.extension.wcf.Interceptor.Security.ServerSignatureValidationProofBindingExtensionElement, dk.gov.oiosi.library" />
        <add name="clientSignatureValidationProofInterceptor" type="dk.gov.oiosi.extension.wcf.Interceptor.Security.ClientSignatureValidationProofBindingExtensionElement, dk.gov.oiosi.library" />
        <!-- Schema validation -->
        <add name="serverSchemaValidationInterceptor" type="dk.gov.oiosi.extension.wcf.Interceptor.Validation.Schema.ServerSchemaValidationBindingExtensionElement, dk.gov.oiosi.library" />
        <add name="clientSchemaValidationInterceptor" type="dk.gov.oiosi.extension.wcf.Interceptor.Validation.Schema.ClientSchemaValidationBindingExtensionElement, dk.gov.oiosi.library" />
        <!-- Schema validation -->
        <add name="serverSchematronValidationInterceptor" type="dk.gov.oiosi.extension.wcf.Interceptor.Validation.Schematron.ServerSchematronValidationBindingExtensionElement, dk.gov.oiosi.library" />
        <add name="clientSchematronValidationInterceptor" type="dk.gov.oiosi.extension.wcf.Interceptor.Validation.Schematron.ClientSchematronValidationBindingExtensionElement, dk.gov.oiosi.library" />
        <!-- Custom RASP headers-->
        <add name="clientPartyIdentifierHeader" type="dk.gov.oiosi.raspProfile.extension.wcf.Interceptor.CustomHeader.ClientPartyIdentifierHeaderBindingExtensionElement, dk.gov.oiosi.raspProfile" />
        <add name="serverPartyIdentifierHeader" type="dk.gov.oiosi.raspProfile.extension.wcf.Interceptor.CustomHeader.ServerPartyIdentifierHeaderBindingExtensionElement, dk.gov.oiosi.raspProfile" />
        <!-- Adds parameters to ALL messages, including RM messages -->
        <add name="ubiquitousProperties" type="dk.gov.oiosi.extension.wcf.Interceptor.UbiquitousProperties.UbiquitousPropertiesBindingExtensionElement, dk.gov.oiosi.library" />

        <!-- Diagnostics interceptors-->
        <add name="MessageCounter" type="dk.gov.oiosi.test.interceptors.messageCounter.MessageCounterBindingExtensionElement, dk.gov.oiosi.test.interceptors"/>
        <add name="ConsoleWriteLine" type="dk.gov.oiosi.test.interceptors.consoleWriteline.ConsoleWritelineBindingExtensionElement, dk.gov.oiosi.test.interceptors"/>
        <add name ="ConsoleWritelineMessage" type="dk.gov.oiosi.test.interceptors.consoleWritelineMessage.ConsoleWritelineMessageBindingExtensionElement, dk.gov.oiosi.test.interceptors"/>
      </bindingElementExtensions>

      <behaviorExtensions>
        <!-- Behavior that selects headers to be added for signing -->
        <add name="signCustomHeaders" type="dk.gov.oiosi.extension.wcf.Behavior.SignCustomHeadersBehaviorExtensionElement, dk.gov.oiosi.library, Version=1.2.1.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>

    </extensions>
  </system.serviceModel>
</configuration>