<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="multipleRootX509CertificateValidatorConfiguration_01" type="dk.gov.oiosi.security.validation.configuration.MultipleRootX509CertificateValidatorAppConfiguration, dk.gov.oiosi.library, Version=1.2.3.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="multipleRootX509CertificateValidatorConfiguration_02" type="dk.gov.oiosi.security.validation.configuration.MultipleRootX509CertificateValidatorAppConfiguration, dk.gov.oiosi.library, Version=1.2.3.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="multipleRootX509CertificateValidatorConfiguration_03" type="dk.gov.oiosi.security.validation.configuration.MultipleRootX509CertificateValidatorAppConfiguration, dk.gov.oiosi.library, Version=1.2.3.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>


  <multipleRootX509CertificateValidatorConfiguration_01/>

  <multipleRootX509CertificateValidatorConfiguration_02>
    <rootCertificateCollection>
      <add name="rootCertificate_01" storeLocation="CurrentUser" storeName="My" serialNumber="123456"/>
    </rootCertificateCollection>
  </multipleRootX509CertificateValidatorConfiguration_02>

  <multipleRootX509CertificateValidatorConfiguration_03>
    <rootCertificateCollection>
      <add name="rootCertificate_01" storeLocation="CurrentUser" storeName="My" serialNumber="123456"/>
      <add name="rootCertificate_02" storeLocation="CurrentUser" storeName="My" serialNumber="234567"/>
    </rootCertificateCollection>
  </multipleRootX509CertificateValidatorConfiguration_03>

</configuration>